
<button type="button" (click)="observableTest2()">Click</button>
<button type="button" (click)="callAjax()">Calling Ajax</button>
<button type="button" (click)="ofFunctionTest()">of Function Test</button>
<button type="button" (click)="fromFunctionTest()">fromFunctionTest</button>
<button type="button" (click)="forkJoinTest()">fork Join Test</button>
<button type="button" (click)="filterTest()">Filter Test</button>
<button type="button" (click)="mapTest()">Map Test</button>
<button type="button" (click)="tapTest()">Tap Test</button>
<button type="button" (click)="catchErrorTest()">Catch Error Test</button>
<button type="button" (click)="flatteningOperatorConcatMapTest()">Flattening Operator Concat Map</button>

<br>
<h2>Concat Map HTTP</h2>
<input type="text" value="" #concatMap >
<button type="button" (click)="onTest(concatMap)">Click</button>
